CSS for Contact US Page

html {
  color: Black;
  font-family: 'Gotham', sans-serif;
}

/****START: HEADER STYLING***/
/*************************/
/*    Styling  Header    *
/*************************/
header{
     
    overflow: hidden;
    background: #FFF; 
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; */
}
 
#top-header {
         
    text-align: center;
    height: 60px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
}

 
/****************/   
/* Styling Logo */
/****************/
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 
#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
    filter: brightness(1.0) opacity(0.75);


}    
 
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #FFF;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #000;
}
     
#menu li:hover a, #menu li span{
     
    text-decoration: underline;
    color: #f59052;

}

/************** END of header styling */
 

/* BEGINNING OF BODY!! */ 
body {
  background: #FFF; 
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px; 
}

 h1 { 
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 375; 
  text-align: left;
} 



/***** Start: Position Images (Note images have 5:7 aspect ratio) */

{
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  align-content: space-around;  
}

/* Create three equal columns that sit next to each other */ 
.column {
  flex: 33.33%;
  align-items: center;
  padding: 5px;
} 

/**** End: Position Images *****/

/***** Start: Text when hover over images */ 

.column {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 60%;
  bottom: 10%;
  left: 0;
  right: 0; 
  opacity: 0;
  transition: .5s ease;
  background-color: #c8d3db
 
}

.column:hover .overlay {
  opacity: 80%;
}

.text {
  color: #000;
  font-size: 17px;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




 
