html {
  color: Black;
  font-family: 'Gotham', sans-serif;
}

header{

    overflow: hidden;
    background: #FFF;
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; */
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #828282;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #f8f8ff;
  text-decoration: none;
  color: black;
}
/* NOTE: Nav menu changes */
.menuNav{
  padding-left: 10px;
  padding-top: 15px;
}
/* NOTE: messes with the pitt logo  */
.pittlogo{
  height: 75%;
  width: 100%;
  display: inline-block;
  padding-left: 30px;
  padding-top: 20px;

}

/* NOTE: used to control the PHIGHTCOIVD HEADER  */
.shiftRight{
  padding-left: 290px;
}

.textSize{
  font-size: 37px;

}


.col-sm-2 {
  position: relative;
  width: 100%;
}

.col-sm-4 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-5 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-6 {
  position: center;
  width: 100%;
  text-align: center;
}

.text1 {
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-size: 32px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 1px;
}

/****START: HEADER STYLING***
/*************************/
/*    Styling  Header    */
/*************************
header{

    overflow: hidden;
    background: #FFF;
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; *
}

#top-header {

    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
}

#top-header-title {

    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
} */

/****************/
/* Styling Logo */
/****************
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}

#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
    /*filter: brightness(1.0) opacity(0.75); */


}

/***************************/
/* Styling Navigation Menu */
/***************************/

/************** END of header styling */

/* BEGINNING OF BODY!! */
body {
  background: #FFF;
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px;
}
/**** START: header 1 ***/

h1 {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 28px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/**** END: header 1

/**** START: header 2 ***/

h2 {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 24px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/**** END: header 2 ***/

/**** START: header 3 ***/

h3 {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 20px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/**** END: header 3 ***/

/*** START: Line break */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*** END: Line break */

.titlecontainer span {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 28px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/* START: 3rd clickable dropdown button CSS */


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

 /* body {
 background: #1c5570;
  color: #ffffff;
  font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  } */

/* .custom-select {
  position : relative;
  width: 100%;
  max-width:  25em;
  margin: 2em auto;
  cursor: pointer;
} */
.select,
.label{
  display: block;
}
 .select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  height: 4em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.label {
  position:  relative;
  padding: 1em;
  border-radius: .5em;
  cursor: pointer;
}
.label::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-left: 1px solid;
}
.open .label::after {
   content: "▲";
}
.select-1 {
   margin: auto;
   background: #1c5570;
   color: #fff;
   border-bottom: .25em solid darken(#21cf8f, 10);
   width: 50%;
  &:after {
   border-color: darken(#21cf8f, 10);

}
  }

.scaled {
  transform: scale(1.0);
  position: relative;
  padding-top: 100px;
  padding-left:  30px;
}
/* END: 3rd clickable dropdown button CSS */

/* START: Bootstrap for column creation *

.row div:nth-child(odd)  {
  border: 3px dashed yellow;
  background-color: #666;
  color: #fff
}

.row div:nth-child(even)  {
  border: 3px dashed red;
  background-color: #ddd;
}


/* END: Bootstrap for column creation */



/* START: Image and Text */
/***** Start: Position Images (Note images have 5:7 aspect ratio) *

{
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  align-content: space-around;
}

/* Create two equal columns that sit next to each other *
.column {
  flex: 50%;
  align-items: center;
  padding: 5px;
}

/**** End: Position Images *****/

/***** Start: Text when hover over images *

.column2 {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 60%;
  bottom: 10%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #c8d3db

}

.column:hover .overlay {
  opacity: 80%;
}

.text {
  color: #000;
  font-size: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/***** End: Text when hover over images */





/* END: Image and Text */


/** Start: Image and text side-by-side. *

.scol {
  float: right
}

#footer {
  clear: left;
}
/* END: Image and text side-by-side. */

/* .overlay {
  position: absolute;
  top: 60%;
  bottom: 10%;
  /*left: 0;*/
  /*right: 0; */
  /*opacity: 70%;*
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*
  z-index : 100;
  margin-left: 2em;
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;

}

.overlay2 {
  position: absolute;
  top: 25%;
  /*bottom: 60%;
  /*left: 0;*
  right: 70%;
  /*opacity: 70%;*
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(0,0,0,.75);/*#fff;*
  z-index : 100;
  margin-left: 2em;
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;

}

.col-sm-6 .overlay {
  opacity: 80%;
}

.text {
  color: #000;
  font-size: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 15px;
}

.text2 {
  color: #fff;
  font-size: 15px;
  padding: 10px;
  /*position: absolute;
  /*top: 50%; */
  /*left: 50%; */
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); *
 }
