html {
  color: Black;
  font-family: 'Gotham', sans-serif;
}

/****START: HEADER STYLING***/
/*************************/
/*    Styling  Header    */
/*************************/
header{
     
    overflow: hidden;
    background: #FFF; 
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; */
}
 
#top-header {
         
    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
}

/*#top-header-title {
         
    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
} */ 
 
/****************/   
/* Styling Logo */
/****************/
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 
#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
    /*filter: brightness(1.0) opacity(0.75); */ 


}    
 
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #FFF;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #000;
}
     
#menu li:hover a, #menu li span{
     
    text-decoration: underline;
    color: #f59052;

}

/************** END of header styling */

/* BEGINNING OF BODY!! */ 
body {
  background: #FFF; 
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px; 
}
/**** START: header 1 ***/

h1 {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 28px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/**** END: header 1 

/*** START: Line break */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*** END: Line break */ 

.titlecontainer span {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 28px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
} 

/* START: 3rd clickable dropdown button CSS */ 

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

 /* body {
 background: #1c5570; 
  color: #ffffff;
  font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; 
  } */ 

.custom-select {
  position : relative;
  width: 100%;
  max-width:  25em;
  margin: 2em auto;
  cursor: pointer;
}
.select,
.label{
  display: block;
}
.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  height: 4em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.label {
  position:  relative;
  padding: 1em;
  border-radius: .5em;
  cursor: pointer;
}
.label::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-left: 1px solid;
}
.open .label::after {
   content: "▲";
}
.select-1 {
   background: #1c5570;
   color: #fff;
  border-bottom: .25em solid darken(#21cf8f, 10);
  &:after {
     border-color: darken(#21cf8f, 10);
  }

/* END: 3rd clickable dropdown button CSS */ 

/* START: Bootstrap for column creation */

.row div:nth-child(odd)  {
  border: 3px dashed yellow;
  background-color: #666;
  color: #fff
}

.row div:nth-child(even)  {
  border: 3px dashed red;
  background-color: #ddd;
}


/* END: Bootstrap for column creation */



/* START: Image and Text */ 
/***** Start: Position Images (Note images have 5:7 aspect ratio) */

{
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  align-content: space-around;  
}

/* Create two equal columns that sit next to each other */ 
.column {
  flex: 50%;
  align-items: center;
  padding: 5px;
} 

/**** End: Position Images *****/

/***** Start: Text when hover over images */ 

.column2 {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 60%;
  bottom: 10%;
  left: 0;
  right: 0; 
  opacity: 0;
  transition: .5s ease;
  background-color: #c8d3db
 
}

.column:hover .overlay {
  opacity: 80%;
}

.text {
  color: #000;
  font-size: 17px;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/***** End: Text when hover over images */ 


 


/* END: Image and Text */ 


/** Start: Image and text side-by-side. */

.scol {
  float: right
}

#footer {
  clear: left;
}
/* END: Image and text side-by-side. */ 


