html {
  color: Black;
  font-family: 'Gotham', sans-serif;

);

}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #828282;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #f8f8ff;
  text-decoration: none;
  color: black;
}

/* NOTE: Nav menu changes */
.menuNav{
  padding-left: 10px;
  padding-top: 15px;
}
/* NOTE: messes with the pitt logo  */
.pittlogo{
  height: 75%;
  width: 100%;
  display: inline-block;
  padding-left: 30px;
  padding-top: 20px;

}

/* NOTE: used to control the PHIGHTCOIVD HEADER  */
.shiftRight{
  padding-left: 300px;
}

.textSize{
  font-size: 35px;

}

.col-sm-2 {
  position: relative;
  width: 100%;
}

.col-sm-4 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-5 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-6 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-7 {
  width: 100%;
}
.col-lg-12{
  position: center;
  width: 100%;
  height: 120%;
  padding-top: 70px;

}

.text1 {
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-size: 32px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 1px;
}


/* NOTE: Start of Animation Section */
/* NOTE: animation for text expanding */
@-webkit-keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
@keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}

/* NOTE: Animation for the people header*/
.tracking-in-expand {
-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;

}

///* NOTE: fade in pictures  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2.5s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2.5s both;
}

/* NOTE: Green text box sliding in from right */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-110);
            transform: translateX(-110);
    opacity: 1;
  }
}


.slide-in-right {
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

/* NOTE: text sliding in from left */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
	        animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s both;
          margin-bottom: 20px;
          margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body2 {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

/* NOTE: End of animation section */
/****START: HEADER STYLING***/
/*************************/
/*    Styling  Header    */
/*************************/

/* #top-header {

    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
}

/*#top-header-title {

    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
} */

/****************/
/* Styling Logo */
/****************/
/*#logo{
    float: left;
    padding: none;
    margin: none;
    height: 100px;
    width: 30%;
}

#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
    filter: brightness(1.0) opacity(0.75);


}

/***************************/
/* Styling Navigation Menu */
/***************************/


/************** END of header styling */

/* BEGINNING OF BODY!! */
/*body {
  background: #FFF;
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px;
}
/**** START: header 1 ***/

/*h1 {
color: #000;
font-family: 'Gotham', sans-serif;
font-size: 28px;
font-weight: 200;
margin-top: 0px;
margin-bottom: 1px;
position: center;
}

/**** END: header 1

/*** START: Line break */

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*** END: Line break */



/* START: Bootstrap for column creation

.row div:nth-child(odd)  {
  border: 3px dashed yellow;
  background-color: #666;
  color: #fff
}

.row div:nth-child(even)  {
  border: 3px dashed red;
  background-color: #ddd;
}


/* END: Bootstrap for column creation */
/* NOTE: for state graph key */
.square {
  height: 30px;
  width: 30px;
}
.insquaretext{
  color: black;

}


.overlay {
  position: absolute;
  top: 60%;
  bottom: 10%;
  /*left: 0;*/
  /*right: 0; */
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*/
  z-index : 100;
  margin-left: 2em;
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;

}

.overlay2 {
  position: absolute;
  top: 25%;
  /*bottom: 60%;
  /*left: 0;*/
  right: 70%;
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(0,0,0,.75);/*#fff;*/
  z-index : 100;
  margin-left: 2em;
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;

}

.col-sm-6 .overlay {
  opacity: 80%;
}

.text {
  color: white;
  font-size: 17px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 15px;
}

.text2 {
  color: #fff;
  font-size: 15px;
  padding: 10px;
  /*position: absolute;
  /*top: 50%; */
  /*left: 50%; */
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/***** End: Text when hover over images */
