CSS for Contact US Page

html {
  color: Black;
  font-family: 'Gotham', sans-serif;
}

/****START: HEADER STYLING***/
/*************************/
/*    Styling  Header    *
/*************************/
header{
     
    overflow: hidden;
    background: #FFF; 
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; */
}
 
#top-header {
         
    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: #000
    font-weight: 500;
    padding: 20px 10px;
}

 
/****************/   
/* Styling Logo */
/****************/
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 
#logo img{
    width: 30%;
    float: left;
    padding: 10px 0px;
    /*filter: brightness(1.0) opacity(0.75); */ 


}    
 
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #FFF;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #000;
}
     
#menu li:hover a, #menu li span{
     
    text-decoration: underline;
    color: #f59052;

}

/************** END of header styling */
 

/* BEGINNING OF BODY!! */ 
body {
  background: #FFF; 
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px; 
}

 h1 { 
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350; 
  text-align: center;
} 


/***** Start: Text when hover over images */ 

/*.col-sm-6 {
  position: relative;
  width: 100%;
}
*/
.overlay {
  position: absolute; 
  top: 60%;
  /*bottom: 10%;*/
  /*left: 0;*/
  /*right: 0; */
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*/
  z-index : 100;
  margin-left: 2em; 
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;
}


.overlay6 {
  position: relative; 
  /*top: 60%;*/ 
  /*bottom: 10%;*/
  /*left: 0;*/
  /*right: 10%;*/
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*/
  z-index : 100;
  margin-left: 1em; 
  margin-right: 1em;
  padding: .5em;
  border-radius: .5em;

  
}
/*
.col-sm-6 .overlay {
  opacity: 60%;
}
*/

.text {
  color: #000;
  font-size: 13px;
  /*position: relative; */
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
}

/***** End: Text when hover over images */ 

.text6 {
  color: #000;
  font-size: 11.5px;
  padding: .5em;
  /*position: relative; */
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
}

.container {
  /*padding: 2px; */ 
  /*background-color: rgba(83,85,87,.8); */
}

.col-sm-1 {
  
padding: 1em;
}

.col-sm-2 {
  
padding: 1em;
/*line-height: 18px; */ 

}

/* START: People circles */ 

a {
text-decoration: none;
white-space: nowrap;
}
a:hover {
text-decoration: underline;
} 
/* END: People circles */ 

