CSS for Contact US Page

html {
  color: Black;
  font-family: 'Gotham', sans-serif;
}
header{

    overflow: hidden;
    background: #FFF;
  color: #ffffff;
  /* font:400 .9em/1.9 'Open Sans', Calibri, Helvetica, Arial, sans-serif; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #828282;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #f8f8ff;
  text-decoration: none;
  color: black;
}

/* NOTE: Nav menu changes */
.menuNav{
  padding-left: 10px;
  padding-top: 15px;
}
/* NOTE: messes with the pitt logo  */
.pittlogo{
  height: 97%;
  width: 97%;
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;

}

/* NOTE: used to control the PHIGHTCOIVD HEADER  */
.shiftRight{
  padding-left: 300px;
}

.textSize{
  font-size: 35px;

}


.col-sm-2 {
  position: relative;
  width: 100%;
  padding: 1em;
}

.col-sm-3{
  position: relative;
  width: 100%
  padding: .5em;


}

.col-sm-4 {
  position: center;
  width: 100%;
  text-align: center;
}



.col-sm-5 {
  position: center;
  width: 100%;
  text-align: center;
}

.col-sm-6 {
  position: center;
  width: 100%;
  text-align: center;
}

.text1 {
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-size: 32px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 1px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* NOTE: margins for the title "past members" */
.topmargin{
  margin-top: 150px;
}
.topmargin2{
  margin-top: 100px;
  padding-top: 25px;
}

.dodgerbluebackground{
  background-color: rgb(30, 144, 255);

}
}
/* NOTE: ANIMATION SECTION */
  /* NOTE: animation for text expanding */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* NOTE: Animation for the people header*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
}

/* NOTE: expands text like tracking in expand */
/* NOTE: Animation for undergrads*/
.tracking-in-expand-delay{
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;

}

/* NOTE: Animation for Past members */
.tracking-in-expand-delay-long{
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 7.0s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 7.0s both;

}

///* NOTE: fade in pictures  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NOTE: 1st trio of pics */
.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.5s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.5s both;
}


/* NOTE: 2nd trio of pics */
.fadetwo{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 3.5s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 3.5s both;

}
/* NOTE: 3rd trio of pics */
.fadethree{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 4.0s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 4.0s both;
}
/* NOTE: 4th Trio of Pics */
.fadefour{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 4.5s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 4.5s both;
}

/* NOTE: 5th Trio of Pics */
.fadefive{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5.2s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 5.2s both;
}

/* NOTE: For past members header */
.fadesix{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 7.5s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 7.5s both;
}

.fadeseven{
  -webkit-animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 8.0s both;
	        animation: fade-in 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 8.0s both;
}


/* NOTE: end of animation section */


/* BEGINNING OF BODY!! */
body {
  background: #FFF;
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  margin-top: 0px;
  margin-bottom: 1px;
}

 h1 {
  color: #000;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  text-align: center;
}

  h2{
    color: #000;
    font-family: 'Gotham', sans-serif;
    font-weight: 350;
    text-align: center;

  }

/*** START: Line break */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*** END: Line break */

/***** Start: Text when hover over images */

/*.col-sm-6 {
  position: relative;
  width: 100%;
}
*/
.overlay {
  position: absolute;
  top: 60%;
  /*bottom: 10%;*/
  /*left: 0;*/
  /*right: 0; */
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*/
  z-index : 100;
  margin-left: 2em;
  margin-right: 2em;
  padding: .6em;
  border-radius: 1em;
}


.overlay6 {
  position: relative;
  /*top: 60%;*/
  /*bottom: 10%;*/
  /*left: 0;*/
  /*right: 10%;*/
  /*opacity: 70%;*/
  transition: background-color 3s ease;
  transition-delay: .5s;
  font-family: 'Gotham', sans-serif;
  font-weight: 350;
  background-color: rgba(208,208,208,.8);/*#fff;*/
  z-index : 100;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  border-radius: .5em;


}
/*
.col-sm-6 .overlay {
  opacity: 60%;
}
*/

.text {
  color: #000;
  font-size: 13px;
  /*position: relative; */
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
}

/***** End: Text when hover over images */

.text6 {
  color: #000;
  font-size: 11.5px;
  padding: .5em;
  /*position: relative; */
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
}

.container {
  /*padding: 2px; */
  /*background-color: rgba(83,85,87,.8); */
}

/* NOTE: dodgerbluebackground div container */
.backgroundContain{
  margin: auto;
  align: center;
  width: 500px;
  height: 100px;
}

.col-sm-1 {

padding: 1em;
}

/* .col-sm-2 {

padding: 1em;
/*line-height: 18px; */

} /*

/* START: People circles *

a {
text-decoration: none;
white-space: nowrap;
}
a:hover {
text-decoration: underline;
}
/* END: People circles */
